{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  media-gallery {
    --mobile-media-border-radius: {{ section.settings.mobile_media_corner_radius }}px;
  }
{%- endstyle -%}

{%- liquid
  assign product = section.settings.product

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif
-%}

{% comment %} TODO: assign `product.selected_or_first_available_variant` to variable and replace usage to reduce verbosity {% endcomment %}

{%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link
    id="ModelViewerStyle"
    rel="stylesheet"
    href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
    media="print"
    onload="this.media='all'"
  >
  <link
    id="ModelViewerOverride"
    rel="stylesheet"
    href="{{ 'component-model-viewer-ui.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}

<section class="color-{{ section.settings.color_scheme }} {% if section.settings.secondary_background %}background-secondary{% else %}gradient{% endif %} content-for-grouping {{ section.settings.visibility }}">
  {% if section.settings.display_id %}
    <copy-button class="section-id-btn button" data-content="#shopify-section-{{ section.id }}" data-success="false">
      <span class="copy-text">{{ 'sections.featured-product.text_0' | t }}</span>
      <span class="copy-success">ID copied successfully!</span>
    </copy-button>
  {% endif %}
  <div class="page-width section-{{ section.id }}-padding{% if section.settings.secondary_background %} isolate{% endif %}">
    <div class="featured-product product product--{{ section.settings.media_size }} grid grid--1-col gradient color-{{ section.settings.color_scheme }} product--{{ section.settings.media_position }}{% if section.settings.secondary_background == false %} isolate{% endif %} {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
      <div class="grid__item product__media-wrapper{% if section.settings.media_position == 'right' %} medium-hide large-up-hide{% endif %}">
        <media-gallery
          id="MediaGallery-{{ section.id }}"
          data-section="{{ section.id }}"
          role="region"
          aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
          data-desktop-layout="stacked"
        >
          <div
            id="GalleryViewer-{{ section.id }}"
            class="product__media-list{% if section.settings.full_media_width %} product__media-list--full-mobile-width{% endif %}"
          >
            {%- if product.selected_or_first_available_variant.featured_media != null -%}
              {%- assign media = product.selected_or_first_available_variant.featured_media -%}
              <div class="product__media-item" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail',
                  media: media,
                  position: 'featured',
                  loop: section.settings.enable_video_looping,
                  modal_id: section.id,
                  xr_button: false,
                  media_width: media_width,
                  media_fit: section.settings.media_fit,
                  constrain_to_viewport: section.settings.constrain_to_viewport
                %}
              </div>
            {%- endif -%}
            {%- liquid
              assign media_to_render = product.featured_media.id
              for variant in product.variants
                assign media_to_render = media_to_render | append: variant.featured_media.id | append: ' '
              endfor
            -%}
            {%- for media in product.media -%}
              {%- if media_to_render contains media.id
                and media.id != product.selected_or_first_available_variant.featured_media.id
              -%}
                <div class="product__media-item" data-media-id="{{ section.id }}-{{ media.id }}">
                  {% render 'product-thumbnail',
                    media: media,
                    position: forloop.index,
                    loop: section.settings.enable_video_looping,
                    modal_id: section.id,
                    xr_button: false,
                    media_width: media_width,
                    media_fit: section.settings.media_fit,
                    constrain_to_viewport: section.settings.constrain_to_viewport
                  %}
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
          {%- if first_3d_model -%}
            <button
              class="button button--full-width product__xr-button"
              type="button"
              aria-label="{{ 'products.product.xr_button_label' | t }}"
              data-shopify-xr
              data-shopify-model3d-id="{{ first_3d_model.id }}"
              data-shopify-title="{{ product.title | escape }}"
              data-shopify-xr-hidden
            >
              {% render 'icon-3d-model' %}
              {{ 'products.product.xr_button' | t }}
            </button>
          {%- endif -%}
        </media-gallery>
      </div>
      <div class="product__info-wrapper product__info-wrapper--top-padding grid__item">
        <product-info
          id="ProductInfo-{{ section.id }}"
          class="product__info-container"
          data-section="{{ section.id }}"
          data-url="{{ product.url }}"
        >
          {%- assign product_form_id = 'product-form-' | append: section.id -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when '@app' -%}
                {% render block %}
              {%- when 'text' -%}
                {% render 'text-with-icon-block', block: block, margins: true, block_attributes: true %}
              {%- when 'title' -%}
                <div
                  class="product__title"
                  {{ block.shopify_attributes }}
                  style="--margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;--margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;"
                >
                  <h1 class="{{ block.settings.text_size }}{% if block.settings.uppercase_title %} product-title--uppercase{% endif %}{% if block.settings.title_alignment == 'center' %} center{% endif %}">
                    {{ product.title }}
                  </h1>
                  <a href="{{ product.url }}" class="product__title">
                    <h2 class="h1">
                      {{ product.title }}
                    </h2>
                  </a>
                </div>
              {% when 'rating_stars' %}
                {% render 'rating-stars-block', block: block, margins: true, block_attributes: true %}
              {%- when 'price' -%}
                <div
                  class="no-js-hidden product-page-price"
                  id="price-{{ section.id }}"
                  role="status"
                  {{ block.shopify_attributes }}
                  style="--margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;--margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;"
                >
                  {% liquid
                    assign price_second = false
                    if block.settings.layout == 'price_second'
                      assign price_second = true
                    endif
                  %}
                  {%- render 'price',
                    product: product,
                    block: block,
                    use_variant: true,
                    show_badges: true,
                    hide_sale_badge: block.settings.hide_sale_badge,
                    price_class: 'price--large',
                    price_second: price_second,
                    main_price: true
                  -%}
                </div>
                <div {{ block.shopify_attributes }} class="product-form-installment-block">
                  {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
                  {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                    {{ form | payment_terms }}
                  {%- endform -%}
                </div>
              {%- when 'sku' -%}
                <p
                  class="product__sku no-js-hidden{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}{% if product.selected_or_first_available_variant.sku.size == 0 %} visibility-hidden{% endif %}"
                  id="Sku-{{ section.id }}"
                  role="status"
                  style="--margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;--margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;"
                  {{ block.shopify_attributes }}
                >
                  <span class="visually-hidden">{{ 'products.product.sku' | t }}:</span>
                  {{- product.selected_or_first_available_variant.sku -}}
                </p>
              {%- when 'quantity_selector' -%}
                {%- if block.settings.enable_quantity_discounts -%}
                  {% render 'quantity-breaks', block: block, product: product, product_form_id: product_form_id %}
                {%- else -%}
                  <div
                    id="Quantity-Form-{{ section.id }}"
                    class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}"
                    style="--margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;--margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;"
                    {{ block.shopify_attributes }}
                  >
                    {% comment %} TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter {% endcomment %}
                    {% # theme-check-disable %}
                    {%- assign cart_qty = cart
                      | item_count_for_variant: product.selected_or_first_available_variant.id
                    -%}
                    {% # theme-check-enable %}
                    <label class="quantity__label form__label" for="Quantity-{{ section.id }}">
                      {{ 'products.product.quantity.label' | t }}
                      <span class="quantity__rules-cart no-js-hidden{% if cart_qty == 0 %} hidden{% endif %}">
                        <span class="loading-overlay hidden">
                          <span class="loading-overlay__spinner">
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              class="spinner"
                              viewBox="0 0 66 66"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </span>
                        </span>
                        <span
                          >(
                          {{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}}
                          )</span
                        >
                      </span>
                    </label>
                    <quantity-input class="quantity">
                      <button class="quantity__button no-js-hidden" name="minus" type="button">
                        <span class="visually-hidden">
                          {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                        </span>
                        {% render 'icon-minus' %}
                      </button>
                      <input
                        class="quantity__input"
                        type="number"
                        name="quantity"
                        id="Quantity-{{ section.id }}"
                        data-cart-quantity="{{ cart_qty }}"
                        data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                        min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                        {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                          data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                          max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                        {% endif %}
                        step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                        value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                        form="{{ product_form_id }}"
                      >
                      <button class="quantity__button no-js-hidden" name="plus" type="button">
                        <span class="visually-hidden">
                          {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                        </span>
                        {% render 'icon-plus' %}
                      </button>
                    </quantity-input>
                    <div class="quantity__rules caption no-js-hidden">
                      {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.multiples_of'
                            | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                          -}}
                        </span>
                      {%- endif -%}
                      {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.minimum_of'
                            | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                          -}}
                        </span>
                      {%- endif -%}
                      {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
                        <span class="divider">
                          {{-
                            'products.product.quantity.maximum_of'
                            | t: quantity: product.selected_or_first_available_variant.quantity_rule.max
                          -}}
                        </span>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}

              {%- when 'share' -%}
                {% assign share_url = product.selected_variant.url | default: product.url | prepend: request.origin %}
                {% render 'share-button', block: block, share_link: share_url %}
              {%- when 'variant_picker' -%}
                {% render 'product-variant-picker',
                  product: product,
                  block: block,
                  product_form_id: product_form_id,
                  update_url: false
                %}
              {%- when 'buy_buttons' -%}
                {%- render 'buy-buttons',
                  block: block,
                  product: product,
                  product_form_id: product_form_id,
                  section_id: section.id
                -%}
              {%- when 'custom_liquid' -%}
                {{ block.settings.custom_liquid }}
              {%- when 'rating' -%}
                {%- if product.metafields.reviews.rating.value != blank -%}
                  {% liquid
                    assign rating_decimal = 0
                    assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                    if decimal >= 0.3 and decimal <= 0.7
                      assign rating_decimal = 0.5
                    elsif decimal > 0.7
                      assign rating_decimal = 1
                    endif
                  %}
                  <div
                    class="rating"
                    role="img"
                    aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}"
                  >
                    <span
                      aria-hidden="true"
                      class="rating-star color-icon-{{ settings.accent_icons }}"
                      style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                    ></span>
                  </div>
                  <p class="rating-text caption">
                    <span aria-hidden="true">
                      {{- product.metafields.reviews.rating.value }} /
                      {{ product.metafields.reviews.rating.value.scale_max -}}
                    </span>
                  </p>
                  <p class="rating-count caption">
                    <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                    <span class="visually-hidden">
                      {{- product.metafields.reviews.rating_count }}
                      {{ 'accessibility.total_reviews' | t -}}
                    </span>
                  </p>
                {%- endif -%}
              {%- when 'icon_with_text' -%}
                {% render 'icon-with-text', block: block %}
            {%- endcase -%}
          {%- endfor -%}
          <a
            {% if product == blank %}
              role="link" aria-disabled="true"
            {% else %}
              href="{{ product.url }}"
            {% endif %}
            class="link product__view-details animate-arrow"
          >
            {{ 'products.product.view_full_details' | t }}
            {% render 'icon-arrow' %}
          </a>
        </product-info>
      </div>
      {%- if section.settings.media_position == 'right' -%}
        <div class="grid__item product__media-wrapper small-hide">
          <media-gallery
            id="MediaGallery-{{ section.id }}-right"
            data-section="{{ section.id }}"
            role="region"
            aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
            data-desktop-layout="stacked"
          >
            <div id="GalleryViewer-{{ section.id }}-right" class="product__media-list">
              {%- if product.selected_or_first_available_variant.featured_media != null -%}
                {%- assign media = product.selected_or_first_available_variant.featured_media -%}
                <div class="product__media-item" data-media-id="{{ section.id }}-{{ media.id }}">
                  {% render 'product-thumbnail',
                    media: media,
                    position: 'featured',
                    loop: section.settings.enable_video_looping,
                    modal_id: section.id,
                    xr_button: false,
                    media_width: media_width,
                    media_fit: section.settings.media_fit,
                    constrain_to_viewport: section.settings.constrain_to_viewport
                  %}
                </div>
              {%- endif -%}
              {%- for media in product.media -%}
                {%- if media_to_render contains media.id
                  and media.id != product.selected_or_first_available_variant.featured_media.id
                -%}
                  <div class="product__media-item" data-media-id="{{ section.id }}-{{ media.id }}">
                    {% render 'product-thumbnail',
                      media: media,
                      position: forloop.index,
                      loop: section.settings.enable_video_looping,
                      modal_id: section.id,
                      xr_button: false,
                      media_width: media_width,
                      media_fit: section.settings.media_fit,
                      constrain_to_viewport: section.settings.constrain_to_viewport
                    %}
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
            {%- if first_3d_model -%}
              <button
                class="button button--full-width product__xr-button"
                type="button"
                aria-label="{{ 'products.product.xr_button_label' | t }}"
                data-shopify-xr
                data-shopify-model3d-id="{{ first_3d_model.id }}"
                data-shopify-title="{{ product.title | escape }}"
                data-shopify-xr-hidden
              >
                {% render 'icon-3d-model' %}
                {{ 'products.product.xr_button' | t }}
              </button>
            {%- endif -%}
          </media-gallery>
        </div>
      {%- endif -%}
    </div>
    {% render 'product-media-modal', product: product, variant_images: media_to_render %}
  </div>
</section>

{%- if section.settings.image_zoom == 'hover' -%}
  <script id="EnableZoomOnHover-featured" src="{{ 'magnify.js' | asset_url }}" defer="defer"></script>
{%- endif %}
{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 13 -%}
            "gtin13": {{ variant.barcode }},
          {%- endif -%}
          {%- if variant.barcode.size == 14 -%}
            "gtin14": {{ variant.barcode }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return msie > 0 || trident > 0;
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher =
      document.querySelector('variant-radios[data-section="{{ section.id }}"]') ||
      document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector(
      '.product-form__noscript-wrapper-{{ section.id }}'
    ).textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function (event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{% if product.media.size > 0 %}
  <script src="{{ 'product-modal.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.featured-product.name",
  "tag": "section",
  "class": "section section-featured-product",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.featured-product.blocks.text.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.h258.content"
        },
        {
          "type": "range",
          "id": "mobile_text_size",
          "min": 8,
          "max": 24,
          "step": 1,
          "unit": "px",
          "default": 14,
          "label": "t:sections.featured-product.settings.s0.label"
        },
        {
          "type": "range",
          "id": "desktop_text_size",
          "min": 10,
          "max": 30,
          "step": 1,
          "unit": "px",
          "default": 16,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "center",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "right",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "left"
        },
        {
          "type": "color",
          "id": "text_color",
          "default": "#121212",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "inline_richtext",
          "id": "text_1",
          "default": "Text with icon",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "inline_richtext",
          "id": "text_2",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "inline_richtext",
          "id": "text_3",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.h259.content"
        },
        {
          "type": "range",
          "id": "icon_scale",
          "min": 100,
          "max": 200,
          "step": 5,
          "default": 120,
          "unit": "%",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.s219.info"
        },
        {
          "type": "color",
          "id": "icon_color",
          "default": "#121212",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "text",
          "id": "icon_1",
          "default": "check_circle",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "checkbox",
          "id": "filled_icon_1",
          "default": false,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_1",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "text",
          "id": "icon_2",
          "default": "check_circle",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_2.info"
        },
        {
          "type": "checkbox",
          "id": "filled_icon_2",
          "default": false,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_2",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "text",
          "id": "icon_3",
          "default": "check_circle",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_3.info"
        },
        {
          "type": "checkbox",
          "id": "filled_icon_3",
          "default": false,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "image_picker",
          "id": "custom_icon_3",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "select",
          "id": "width",
          "options": [
            {
              "value": "fit-content",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "100%",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "100%",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "select",
          "id": "direction",
          "options": [
            {
              "value": "horizontal",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "vertical",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "horizontal",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "range",
          "id": "column_gap",
          "min": 0,
          "max": 6,
          "step": 0.5,
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 3
        },
        {
          "type": "checkbox",
          "id": "enable_bg",
          "default": false,
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "#F3F3F3"
        },
        {
          "type": "range",
          "id": "corner_radius",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "t:settings_schema.global.settings.corner_radius.label",
          "default": 40,
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "range",
          "id": "padding",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 3
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "h1",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "h0",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "h1"
        },
        {
          "type": "select",
          "id": "title_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "center",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "left",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "checkbox",
          "id": "uppercase_title",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        }
      ]
    },
    {
      "type": "rating_stars",
      "name": "t:sections.featured-product.blocks.rating_stars.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "rating",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "default": 4.8
        },
        {
          "type": "color",
          "id": "star_color",
          "default": "#ffcc00",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "select",
          "id": "bg_stars_style",
          "options": [
            {
              "value": "outlined",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "full",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "full"
        },
        {
          "type": "color",
          "id": "bg_star_color",
          "default": "#ececec",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "inline_richtext",
          "id": "label",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "(xxxx Reviews)"
        },
        {
          "type": "range",
          "id": "size",
          "min": 10,
          "max": 24,
          "step": 1,
          "unit": "px",
          "default": 16,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "options": [
            {
              "value": "flex-start",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "center",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "flex-end",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "flex-start"
        },
        {
          "type": "text",
          "id": "scroll_id",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "layout",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "options": [
            {
              "value": "price_first",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "price_second",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "price_first"
        },
        {
          "type": "select",
          "id": "price_color",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "outline-button",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "text",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "accent-1"
        },
        {
          "type": "select",
          "id": "compare_price_color",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "outline-button",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "text",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "text"
        },
        {
          "type": "checkbox",
          "id": "hide_sale_badge",
          "default": false,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        }
      ]
    },
    {
      "type": "sku",
      "name": "t:sections.featured-product.blocks.sku.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.featured-product.blocks.sku.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.featured-product.blocks.sku.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.featured-product.blocks.sku.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.featured-product.blocks.sku.settings.text_style.label"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.featured-product.blocks.quantity_selector.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.featured-product.settings.unknown_1.content"
        },
        {
          "type": "checkbox",
          "id": "enable_quantity_discounts",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "paragraph",
          "content": "t:sections.featured-product.settings.unknown_3.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "select",
          "id": "style",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "compact",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "vertical",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "normal"
        },
        {
          "type": "text",
          "id": "headline",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "BUNDLE & SAVE"
        },
        {
          "type": "select",
          "id": "preselected",
          "options": [
            {
              "value": "none",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "option_1",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "option_2",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "option_3",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "option_4",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "option_1",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "checkbox",
          "id": "enable_variant_selectors",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": true,
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "checkbox",
          "id": "enable_variant_selectors_on_quantity_of_1",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_pickers_overlay",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": true
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 70,
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "checkbox",
          "id": "space_images",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": true
        },
        {
          "type": "select",
          "id": "color_scheme",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "outline-button",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "text",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "accent-1"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "option_1_quantity",
          "min": 0,
          "max": 20,
          "step": 1,
          "unit": "qty",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 1,
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_1_badge",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "image_picker",
          "id": "option_1_image",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_1_label",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "Buy [quantity]"
        },
        {
          "type": "text",
          "id": "option_1_benefit",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_1_caption",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "You save [amount_saved]"
        },
        {
          "type": "text",
          "id": "option_1_percentage_off_text",
          "default": "0",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_1_fixed_amount_off",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "0",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_1_price_text",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[price]"
        },
        {
          "type": "select",
          "id": "option_1_compare_price",
          "options": [
            {
              "value": "price",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "compare_price",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "compare_price",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_1_compare_price_text",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[compare_price]"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "option_2_quantity",
          "min": 0,
          "max": 20,
          "step": 1,
          "unit": "qty",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 2,
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_2_badge",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "image_picker",
          "id": "option_2_image",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_2_label",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "Buy [quantity]"
        },
        {
          "type": "text",
          "id": "option_2_benefit",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_2_caption",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "You save [amount_saved]"
        },
        {
          "type": "text",
          "id": "option_2_percentage_off_text",
          "default": "0",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_2_fixed_amount_off",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "0",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_2_price_text",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[price]"
        },
        {
          "type": "select",
          "id": "option_2_compare_price",
          "options": [
            {
              "value": "price",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "compare_price",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "compare_price",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_2_compare_price_text",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[compare_price]"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "option_3_quantity",
          "min": 0,
          "max": 20,
          "step": 1,
          "unit": "qty",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 3,
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_3_badge",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "image_picker",
          "id": "option_3_image",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_3_label",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "Buy [quantity]"
        },
        {
          "type": "text",
          "id": "option_3_benefit",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_3_caption",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "You save [amount_saved]"
        },
        {
          "type": "text",
          "id": "option_3_percentage_off_text",
          "default": "0",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_3_fixed_amount_off",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "0",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_3_price_text",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[price]"
        },
        {
          "type": "select",
          "id": "option_3_compare_price",
          "options": [
            {
              "value": "price",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "compare_price",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "compare_price",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_3_compare_price_text",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[compare_price]"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "option_4_quantity",
          "min": 0,
          "max": 20,
          "step": 1,
          "unit": "qty",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 4,
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_4_badge",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "image_picker",
          "id": "option_4_image",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_4_label",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "Buy [quantity]"
        },
        {
          "type": "text",
          "id": "option_4_benefit",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_4_caption",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "You save [amount_saved]"
        },
        {
          "type": "text",
          "id": "option_4_percentage_off_text",
          "default": "0",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_4_fixed_amount_off",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "0",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_4_price_text",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[price]"
        },
        {
          "type": "select",
          "id": "option_4_compare_price",
          "options": [
            {
              "value": "price",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "compare_price",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "compare_price",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "option_4_compare_price_text",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[compare_price]"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.featured-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "text",
          "id": "picker_types",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "pills, pills, pills",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "custom_labels",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "select",
          "id": "swatches_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "medium",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "large",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "extra-large",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "medium"
        },
        {
          "type": "range",
          "id": "swatches_border_radius",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "%",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 100
        },
        {
          "type": "select",
          "id": "swatches_custom_colors",
          "options": [
            {
              "value": "disabled",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "image_alt",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "custom",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "disabled",
          "info": "t:sections.featured-product.settings.swatches_custom_colors.info"
        },
        {
          "type": "text",
          "id": "swatches_custom_colors_list",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info",
          "default": "#000000, #FFFFFF"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "select",
          "id": "breaks_style",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "compact",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "vertical",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "normal"
        },
        {
          "type": "text",
          "id": "breaks_headline",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "BUNDLE & SAVE"
        },
        {
          "type": "select",
          "id": "breaks_color_scheme",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "outline-button",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "text",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "accent-1"
        },
        {
          "type": "paragraph",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "text",
          "id": "breaks_badges",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[empty], Most popular, [empty]"
        },
        {
          "type": "select",
          "id": "breaks_displayed_images",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "variant_images",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            },
            {
              "value": "custom",
              "label": "t:sections.featured-product.settings.mobile_text_size.label"
            }
          ],
          "default": "variant_images",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "text",
          "id": "breaks_custom_images",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "range",
          "id": "breaks_image_width",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 70,
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "checkbox",
          "id": "breaks_space_images",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": true
        },
        {
          "type": "text",
          "id": "breaks_labels",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[name], [name], [name]"
        },
        {
          "type": "text",
          "id": "breaks_benefits",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[empty], Free Shipping, Free Shipping"
        },
        {
          "type": "text",
          "id": "breaks_captions",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "Variant 1 caption, Variant 2 caption, Variant 3 caption"
        },
        {
          "type": "text",
          "id": "breaks_price_texts",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[price], [price], [price]"
        },
        {
          "type": "text",
          "id": "breaks_compare_price_texts",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": "[compare_price], [compare_price], [compare_price]"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": false,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "skip_cart",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": false,
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "checkbox",
          "id": "uppercase_text",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "display_price",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_custom_color",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": false
        },
        {
          "type": "color",
          "id": "custom_color",
          "default": "#dd1d1d",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 45,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 24
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 45,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 24
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.featured-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.featured-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.featured-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.featured-product.blocks.share.settings.title_info.content"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 0
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 0
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.featured-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.featured-product.blocks.custom_liquid.settings.custom_liquid.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.featured-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.featured-product.blocks.rating.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 30,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 15
        }
      ]
    },
    {
      "type": "icon_with_text",
      "name": "t:sections.featured-product.blocks.icon_with_text.name",
      "settings": [
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "horizontal",
              "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__1.label"
            },
            {
              "value": "vertical",
              "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__2.label"
            }
          ],
          "default": "horizontal",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.label"
        },
        {
          "type": "select",
          "id": "icon_color",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "outline-button",
              "label": "t:settings_schema.styles.settings.accent_icons.options__3.label"
            },
            {
              "value": "text",
              "label": "t:settings_schema.styles.settings.accent_icons.options__4.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "desktop_icon_size",
          "min": 16,
          "max": 72,
          "step": 4,
          "unit": "px",
          "default": 48,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "range",
          "id": "desktop_spacing",
          "min": 2,
          "max": 24,
          "step": 2,
          "unit": "px",
          "default": 12,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "range",
          "id": "desktop_text_size",
          "min": 12,
          "max": 34,
          "step": 2,
          "unit": "px",
          "default": 18,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "mobile_icon_size",
          "min": 12,
          "max": 60,
          "step": 4,
          "unit": "px",
          "default": 40,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "range",
          "id": "mobile_spacing",
          "min": 2,
          "max": 24,
          "step": 2,
          "unit": "px",
          "default": 10,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "range",
          "id": "mobile_text_size",
          "min": 8,
          "max": 26,
          "step": 2,
          "unit": "px",
          "default": 14,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.icon_with_text.settings.content.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.content.info"
        },
        {
          "type": "text",
          "id": "icon_1",
          "default": "favorite",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_1.label",
          "info": "t:sections.featured-product.settings.icon_1.info"
        },
        {
          "type": "checkbox",
          "id": "icon_1_fill",
          "default": false,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_1.label"
        },
        {
          "type": "text",
          "id": "heading_1",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "text",
          "id": "icon_2",
          "default": "undo",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_2.label",
          "info": "t:sections.featured-product.settings.icon_2.info"
        },
        {
          "type": "checkbox",
          "id": "icon_2_fill",
          "default": false,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_2.label"
        },
        {
          "type": "text",
          "id": "heading_2",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_2.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "text",
          "id": "icon_3",
          "default": "local_shipping",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_3.label",
          "info": "t:sections.featured-product.settings.icon_3.info"
        },
        {
          "type": "checkbox",
          "id": "icon_3_fill",
          "default": false,
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_3.label"
        },
        {
          "type": "text",
          "id": "heading_3",
          "default": "Heading",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_3.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "header",
          "content": "t:sections.featured-product.settings.text_3.content"
        },
        {
          "type": "range",
          "id": "margin_top",
          "min": 0,
          "max": 45,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 24
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "min": 0,
          "max": 45,
          "step": 3,
          "unit": "px",
          "label": "t:sections.featured-product.settings.mobile_text_size.label",
          "default": 24
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "display_id",
      "label": "t:sections.featured-product.settings.mobile_text_size.label",
      "info": "t:sections.featured-product.settings.icon_1.info",
      "default": false
    },
    {
      "type": "select",
      "id": "visibility",
      "options": [
        {
          "value": "desktop-hidden",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "value": "mobile-hidden",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        },
        {
          "value": "always-display",
          "label": "t:sections.featured-product.settings.mobile_text_size.label"
        }
      ],
      "label": "t:sections.featured-product.settings.mobile_text_size.label",
      "default": "always-display"
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "secondary_background",
      "default": false,
      "label": "t:sections.featured-product.settings.secondary_background.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-product.settings.header.content",
      "info": "t:sections.featured-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-product.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-product.settings.media_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-product.settings.media_size.label",
      "info": "t:sections.main-product.settings.media_size.info"
    },
    {
      "type": "checkbox",
      "id": "constrain_to_viewport",
      "default": true,
      "label": "t:sections.main-product.settings.constrain_to_viewport.label"
    },
    {
      "type": "select",
      "id": "media_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.main-product.settings.media_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.main-product.settings.media_fit.options__2.label"
        }
      ],
      "default": "contain",
      "label": "t:sections.main-product.settings.media_fit.label"
    },
    {
      "type": "select",
      "id": "media_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.featured-product.settings.media_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.featured-product.settings.media_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.featured-product.settings.media_position.label",
      "info": "t:sections.featured-product.settings.media_position.info"
    },
    {
      "type": "select",
      "id": "image_zoom",
      "options": [
        {
          "value": "lightbox",
          "label": "t:sections.main-product.settings.image_zoom.options__1.label"
        },
        {
          "value": "none",
          "label": "t:sections.main-product.settings.image_zoom.options__3.label"
        }
      ],
      "default": "lightbox",
      "label": "t:sections.main-product.settings.image_zoom.label"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.featured-product.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-product.settings.text_3.content"
    },
    {
      "type": "range",
      "id": "mobile_media_corner_radius",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "t:settings_schema.global.settings.corner_radius.label",
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "full_media_width",
      "default": false,
      "label": "t:sections.featured-product.settings.mobile_text_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-product.presets.name",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "price"
        },
        {
          "type": "variant_picker"
        },
        {
          "type": "quantity_selector"
        },
        {
          "type": "buy_buttons"
        },
        {
          "type": "share"
        }
      ]
    }
  ]
}
{% endschema %}
